.star {
  color: yellow;
  font-size: 13px;
  gap:2px;
}

.filmslider-filmlist-social {
  display: flex;
  height: 520px;
  overflow-y: hidden;
  margin: 1rem 2rem;
  background: linear-gradient(180deg, #3e3e3e, #080808, #000000);
}
.sliderimage-placeholder {
  max-width: 700px;
  max-height: 500px;
  width: 700px;
  height: 500px;
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  font-family: Arial, sans-serif;
  position: relative;
  top: -20px;
  opacity:0;
}

.filmslider {
  height: 500px;
}

.leftarrow {
  position: relative;
  top: 45%;
  z-index: 1;
  padding: 10px 3px;
  background-color: rgb(199, 198, 198);
  color: rgb(0, 0, 0);
  border-radius: 15px;
}
.leftarrow:hover {
  background-color: rgb(199, 198, 198);
  border-radius: 15px;
}

.rightarrow {
  position: relative;
  z-index: 1;
  left: 98%;
  bottom: 85%;
  padding: 10px 3px;
  background-color: rgb(199, 198, 198);
  color: rgb(0, 0, 0);
  border-radius: 15px;
}
.rightarrow:hover {
  background-color: rgb(199, 198, 198);
  border-radius: 15px;
}

.filmdetails {
  height:8rem;
  margin-left: 3rem;
  box-shadow: 0px -20px 20px 0px rgb(0, 0, 0);
}

.slidercaption {
  max-width: 700px;
  position: relative;
  bottom: 9rem;
  background: linear-gradient(180deg, #000000, #000000, #000000,#000000,#000000);
  box-shadow: -20px -20px 20px 0px rgb(0, 0, 0);
  height: 8rem;
  opacity: 0.93;
}

.filmtitle {
  margin-bottom: 15px;
  font-size: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  color: #ffffff;
}

.filmrating {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
}
.filmquality {
  margin-left: 2rem;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
}
.filmdescription {
  max-width: fit-content;
  margin-top: 15px;
  font-size: 13px;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
}

.itemimage-placeholder {
  width: 100px;
  height: 100px;
  background-color: #141313;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #060606;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.filmlist {
  width: 400px;
  max-height: 500px;
  display: flex;
  margin-left: 9px;
  align-items: center;
  background: linear-gradient(180deg, #333333, #121212, #000000);
}
.filmitems {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-left: 5px;
  cursor: pointer;
}
.filmitem {
  display: flex;
  flex-direction: row;
  padding: 25px 0px 30px 25px;
}
.itemdetails {
  margin-left: 20px;
  color: #ffffff;
}
.film-rating {
  font-size: 16px;
  margin-right: 1.5rem;
  gap: 3px;
  font-weight: bold;
}
.film-quality {
  font-size: 14px;
  font-weight: bold;
}
.film-title {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.film-description {
  max-width: auto;
  font-size: 10px;
  color: rgba(240, 248, 255, 0.594);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.social {
  max-width: auto;
  max-height: 500px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

}

.socialitems {
  padding: 10px 0px;
  cursor: pointer;
  gap:1rem;
}
.item {
  color: #ffffffad;
  margin-left: 10px;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #353535;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

}
.item span {
  font-weight: bold;
  padding: 2px;
  cursor: pointer;
}
.item:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #484848, #363636, #343434);
  border-radius: 5px;
  color: aliceblue;
}

.introduction-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 22px;
  display: flex;
  margin: 1.5rem 2rem 0 2rem;
  max-width: auto;
  color: rgba(255, 255, 255, 0.647);
  font-size: 18px;
}
