.main-tems {
    text-align: center;
    margin-top: 5rem;
}

.main-tems img {
    width: 150px;
    border-radius: 10px;
}

.main-tems h3 {
    font-family: 'exo-2', sans-serif;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #ececec;
    cursor: pointer;
}

.form {
    text-align: center;
    margin: 30px 0;
}

.form .movie-input {
    padding: 10px;
    width: 70%;
    border: 1px solid #0a0a0a;
    border-radius: 20px;
    font-size: 16px;
    cursor: default;
    background-color: #1a2722;
    color: aliceblue;
}

.movie-input:focus {
    outline: none;
}

.movie-input::placeholder{
    color: azure;
}

.movie-input:focus::placeholder{
    opacity: 0;
}

.movie-input:hover{
    box-shadow: 0 0 5px #707479, 0 0 7px #a1bbbb, 0 0 10px #979b9f;
}

.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1f1b; /* Optional: Add a background to the icon */
    padding: 7px; /* Adjust padding for a clickable area */
    border-radius: 50px; /* Match the input field border radius */
    cursor: pointer; 
    margin-left: 5px;
}

.search-icon:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px #707479, 0 0 7px #a1bbbb, 0 0 10px #979b9f;
}

.search-icon span{
    font-size: 25px;
    font-weight: bold;
    color:#f8f1f1;
}
.main-btn{
    display: flex;
    justify-content: center;
}

.mainpage-btn {
    margin-top: 3rem;
    padding: 10px 20px;
    background-color: #223426;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    transition: transform 0.3s ease;
}


.mainpage-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: linear-gradient(90deg, #171c1a, #1d2623, #1e291e);
    z-index: -1;
    filter: blur(10px);
    opacity: 0;
    transition: transform 0.3s ease;
}

.mainpage-btn:hover::before {
    opacity: 1;
}

.mainpage-btn:hover {
    color: #fff;
    box-shadow: 0 0 10px #707479, 0 0 20px #a1bbbb, 0 0 30px #979b9f;
    transition: 0.4s ease;
    transform: scale(1.1);
}